body {
	margin: 0px;
}
.offcanvasShareContainer {
width: 300px;
position: relative;
left: -60px;
transition: left .2s ease-in-out;
}
.container-toggle {
display: inline-block;
transform: rotate(90deg);
padding: 10px 15px;
background-color: #00B0FF;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
top: 27px;
position: absolute;
color: white;
font-size: 14px;
cursor: pointer;
border-color: rgba(76,76,255,0.5);
margin-left: -29px;

}
.container-toggle-close {
  display: inline-block;
  transform: rotate(90deg);
  padding: 10px 15px;
  background-color: #7C7C7C;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  top: 12px;
  position: absolute;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-color: rgba(76,76,255,0.5);
  margin-left: -13px;
}
.container-content {
display: inline-block;

}
.social-icons {
  height: 60px;
  width: 60px;
  display: block;
  background-size: cover;
  background-color: black;
  cursor: pointer;
}

.social-icons img {
	width: 100%;
}

a.social-icons:hover > img {
	opacity: 0.7;
}

.offcanvasShareContainer-open {
	left: 0;
	transition: left .2s ease-in-out;
}